In [1]:
from sklearn import cross_validation,metrics
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn 

%matplotlib inline

ImportError: No module named matplotlib

In [4]:
df_gen  = pd.read_csv('deeplearning.csv', nrows=1000000,sep = ";")

In [6]:
df_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 23 columns):
exp           1000000 non-null object
ekb           1000000 non-null int64
uid           1000000 non-null object
trial         1000000 non-null int64
sti           1000000 non-null object
time          1000000 non-null float64
trial_time    1000000 non-null float64
truth         1000000 non-null object
blank         1000000 non-null int64
fix           1000000 non-null int64
state         1000000 non-null int64
x             1000000 non-null int64
y             1000000 non-null int64
left_x        1000000 non-null int64
left_y        1000000 non-null int64
left_pd       1000000 non-null float64
left_px       1000000 non-null float64
left_py       1000000 non-null float64
right_x       1000000 non-null float64
right_y       1000000 non-null int64
right_pd      1000000 non-null float64
right_px      1000000 non-null float64
right_py      1000000 non-null float64
dtypes: float64(9), int64(10), object(4)
memory usage: 175.5+ MB

In [7]:
df_gen.head()

,exp,ekb,uid,trial,sti,time,trial_time,truth,blank,fix,...,left_x,left_y,left_pd,left_px,left_py,right_x,right_y,right_pd,right_px,right_py
0,et_pot,48930649,3994-10,10,RF1,53.609,0.017,?,0,0,...,0,0,27.7132,0.3541,0.4960,0.0,0,26.6209,0.6602,0.5498
1,et_pot,48930649,3994-10,10,RF1,53.625,0.033,?,0,0,...,0,0,26.7377,0.3539,0.4957,0.0,0,26.6455,0.6600,0.5495
2,et_pot,48930649,3994-10,10,RF1,53.642,0.050,?,0,0,...,0,0,25.5408,0.3533,0.4971,0.0,0,40.5057,0.6607,0.5417
3,et_pot,48930649,3994-10,10,RF1,53.658,0.066,?,0,0,...,0,0,0.0000,0.0000,0.0000,0.0,0,11.5018,0.6479,0.5571
4,et_pot,48930649,3994-10,10,RF1,53.675,0.083,?,0,0,...,0,0,0.0000,0.0000,0.0000,0.0,0,0.0000,0.0000,0.0000